$color-bg: #242b2e;
$color-danger: #e21717;
$color-light: #fff;
$color-light-grey: #cad5e2;
$color-grey: #758283;
$color-primary: #1b98f5;
$color-success: #4dd637;
$color-warning: #ffa500;

// BODY BACKGROUND
body {
  background-color: $color-bg;
}

.mybg-grey {
  background-color: $color-grey;
  z-index: -1;
}
.mybg-light-grey {
  background-color: $color-light-grey;
  z-index: -1;
}

.myborder-1 {
  border: 1px solid $color-light;
  border-radius: 10px;
}
.myborder-3 {
  border: 3px solid $color-light;
  border-radius: 15px;
}
.myborder-5 {
  border: 5px solid $color-light;
  border-radius: 20px;
}
.myborder-danger {
  border-color: $color-danger;
}
.myborder-light-grey {
  border-color: $color-light-grey;
}
.myborder-primary {
  border-color: $color-primary;
}
.myborder-success {
  border-color: $color-success;
}
.myborder-warning {
  border-color: $color-warning;
}

.mybtn {
  border: none;
  border-radius: 25px;
  background-color: $color-primary;
  box-shadow: 0 5px #cad5e2;
  color: black;
  font-size: larger;
  font-weight: bolder;
  margin: 10px 0px 10px 0px;
  outline: none;
  padding: 5px 10px 5px 10px;
  text-align: center;
  width: 100%;
}
.mybtn:active {
  background-color: #3e8e8a;
  box-shadow: 0 1px #cad5e2;
  transform: translateY(4px);
}

.mybtn-danger {
  background-color: $color-danger;
}
.mybtn-success {
  background-color: $color-success;
}
.mybtn-warning {
  background-color: $color-warning;
}

// Color Class For Text
.mytext-danger {
  color: $color-danger;
}
.mytext-primary {
  color: $color-primary;
}
.mytext-success {
  color: $color-success;
}
.mytext-warning {
  color: $color-warning;
}

/* editor Css */
.editorWrapperClass {
  border: 3px solid $color-grey;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}
.editorBodyClass {
  background-color: $color-bg;
  border: 3px solid #35bdd0;
  border-radius: 15px;
  color: #cad5e2;
  min-height: 200px;
  padding: 10px;
}
.editorToolbarClass {
  color: #000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
}
.editorToolbarClass input {
  color: #000;
}

// Modal CSS
.mymodal {
  background: rgba(255, 255, 255, 0);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.mymodalMain {
  background: $color-bg;
  border-radius: 10px;
  left: 40%;
  height: auto;
  padding: 20px;
  position: fixed;
  top: 40%;
  transform: translate(-40%, -40%);
  width: 80%;
}

.displaBlock {
  display: block;
  z-index: 3;
}

.displayNone {
  display: none;
}
