/* blue: 35bdd0
green: 4dd637
red: e21717
orange: ffa500 */

body {
  background-color: #242b2e;
}

.mybtn {
  outline: none;
  background-color: #4dd637;
  width: 100%;
  text-align: center;
  color: aliceblue;
  font-size: larger;
  font-weight: bolder;
  border-radius: 25px;
  border: none;
  margin: 10px 0px 10px 0px;
  box-shadow: 0 5px #cad5e2;
  padding: 5px 10px 5px 10px;
}
.mybtn:active {
  background-color: #3e8e8a;
  box-shadow: 0 1px #cad5e2;
  transform: translateY(4px);
}

.mybtn-blue {
  background-color: #35bdd0;
}
.mybtn-orange {
  background-color: #ffa500;
}
.mybtn-red {
  background-color: #e21717;
}

.myborder {
  border: 3px solid #ccc;
  border-radius: 15px;
}
.myborder-green {
  border: 3px solid #4dd637;
  border-radius: 15px;
}
.myborder-blue {
  border: 3px solid #35bdd0;
  border-radius: 15px;
}
.myborder-orange {
  border: 3px solid #ffa500;
  border-radius: 15px;
}
.myborder-red {
  border: 3px solid #e21717;
  border-radius: 15px;
}

.mytext-green {
  color: #4dd637;
}
.mytext-blue {
  color: #35bdd0;
}
.mytext-orange {
  color: #ffa500;
}
.mytext-red {
  color: #e21717;
}

/* editor Css */
.editorWrapperClass {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
}
.editorBodyClass {
  background-color: #242b2e;
  padding: 10px;
  border: 3px solid #35bdd0;
  border-radius: 15px;
  color: #cad5e2;
  min-height: 200px;
}
.editorToolbarClass {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  z-index: 2;
  color: #000;
}
.editorToolbarClass input {
  color: #000;
}
